body {
  align-items: center;
  background-color: #100e17;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  height: 100vh;
  color: #FDFDFD;
}

h1 {
  font-size: 45px;
  text-align: center;
}

h1 span {
  color: transparent;
  background-image: linear-gradient(225deg, #5ee7df 0%, #b490ca 75%);
  -webkit-background-clip: text;
}

#mainContent {
  text-align: center;
}

.start, .question-button {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 20px;
  background-image: linear-gradient(45deg, #5ee7df 0%, #b490ca 75%);
  border: none;
  color: black;
  min-height: 40px;
  border-radius: 10px;
  font-size: 18px;
  transition: .5s ease;
  box-shadow: 0 7px 4px black;
}

.question-button {
  width: 400px;
  max-width: 80vw;
}

.start:hover, .question-button:hover {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 4px black;
}

#questionContainer {
  max-width: 80%;
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  background-color: rgba(23,20,29);
  padding: 50px;
  border-radius: 10px;
}

#questionContainer button {
  margin: 10px;
  padding: 10px;
  min-width: 250px;
}

#question {
  margin-bottom: 20px;
}

#infoContainer {
  background-color: rgba(23,20,29);
  border-radius: 10px;
  max-width: 80%;
  min-height: 100px;
  padding: 50px;
  margin-top: 20px;
  text-align: center;
}

#currentScore {
  margin-bottom: 15px;
}

#message {
  margin-top: 15px;
  font-size: 25px;
}

@media only screen and (max-width:600px){
  h1 {
    font-size: 35px;
  }

  #questionContainer {
    padding: 15px;
  }

  #infoContainer {
    padding: 15px;
  }
}